:root {
  /* Define color variables for theming */
  --color-primary: #3498db;
  --color-secondary: #f3f3f3;
  --color-white: #ffffff;
  --color-dark: #333333;
  --color-background: #f9f9f9;
  --color-border: #ddd;
  --color-highlight: #a55000;
  
  /* Define size variables for theming */
  --border-radius: 8px;
  --font-size-small: 14px;
  --font-size-large: 35px;
  --loader-size: 30px;
  --progress-height: 20px;
  --control-padding: 1em;
  --tooltip-width: 250px;
  --modal-transition: 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #202020;
    --color-border: #444444;
    --color-dark: #ffffff;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.loader {
  border: 8px solid var(--color-secondary);
  border-top: 8px solid var(--color-primary);
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

progress {
  appearance: none;
  height: var(--progress-height);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  width: 100%;
  vertical-align: middle !important;
}

.progress-container {
  margin: 0 20px;
  flex-grow: 1;
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  background-color: var(--color-primary);
}

progress::after {
  content: attr(value) '%';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-size: var(--font-size-small);
}

.loader-container > span {
  margin-left: 5px;
}

.progress-bar > .generating {
  display: none !important;
}

.progress-bar {
  height: var(--loader-size) !important;
}

.progress-bar span {
  text-align: right;
  width: 215px;
}

div:has(> #positive_prompt) {
  border: none;
}

#positive_prompt {
  padding: 1px;
  background: var(--color-background);
}

.type_row {
  height: 84px !important;
}

.type_row_half {
  height: 34px !important;
}

.refresh_button {
  border: none !important;
  background: none !important;
  font-size: none !important;
  box-shadow: none !important;
}

.advanced_check_row {
  width: 330px !important;
}

.min_check {
  min-width: min(1px, 100%) !important;
}

.resizable_area {
  resize: vertical;
  overflow: auto !important;
}

.performance_selection label,
.aspect_ratios label {
  width: 140px !important;
}

.aspect_ratios label {
  flex: calc(50% - 5px) !important;
}

.aspect_ratios label span,
.aspect_ratios label input {
  white-space: nowrap !important;
}

.lora_enable label {
  height: 100%;
}

.lora_enable label input {
  margin: auto;
}

.lora_enable label span {
  display: none;
}

@-moz-document url-prefix() {
  .lora_weight input[type=number] {
    width: 80px;
  }
}

#context-menu {
  z-index: 9999;
  position: absolute;
  display: block;
  padding: 0;
  border: 2px solid var(--color-highlight);
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 2px var(--color-highlight);
  width: 200px;
}

.context-menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu-items a {
  display: block;
  padding: 5px;
  cursor: pointer;
}

.context-menu-items a:hover {
  background: var(--color-highlight);
}

.canvas-tooltip-info {
  position: absolute;
  top: 28px;
  left: 2px;
  cursor: help;
  background-color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.canvas-tooltip-info::after {
  content: '';
  display: block;
  width: 2px;
  height: 7px;
  background-color: var(--color-white);
  margin-top: 2px;
}

.canvas-tooltip-info::before {
  content: '';
  display: block;
  width: 2px;
  height: 2px;
  background-color: var(--color-white);
}

.canvas-tooltip-content {
  display: none;
  background-color: var(--color-background);
  color: var(--color-dark);
  border: 1px solid var(--color-border);
  padding: 15px;
  position: absolute;
  top: 40px;
  left: 10px;
  width: var(--tooltip-width);
  font-size: 16px;
  opacity: 0;
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.canvas-tooltip:hover .canvas-tooltip-content {
  display: block;
  animation: fadeIn 0.5s;
  opacity: 1;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.styler {
  overflow: inherit !important;
}

.gradio-container {
  overflow: visible;
}

#lightboxModal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(20, 20, 20, 0.95);
  user-select: none;
  -webkit-user-select: none;
  flex-direction: column;
}

.modalControls {
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  gap: var(--control-padding);
  padding: var(--control-padding);
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: var(--modal-transition) ease background-color;
}

.modalControls:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.modalClose {
  margin-left: auto;
}

.modalControls span {
  color: var(--color-white);
  text-shadow: 0px 0px 0.25em black;
  font-size: var(--font-size-large);
  font-weight: bold;
  cursor: pointer;
  width: 1em;
}

.modalControls span:hover, .modalControls span:focus {
  color: #999;
  text-decoration: none;
}

#lightboxModal > img {
  display: block;
  margin: auto;
  width: auto;
}

#lightboxModal > img.modalImageFullscreen {
  object-fit: contain;
  height: 100%;
  width: 100%;
  min-height: 0;
}

.modalPrev, .modalNext {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.modalNext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.modalPrev:hover, .modalNext:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#imageARPreview {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.3);
  z-index: 900;
  pointer-events: none;
  display: none;
}

#stylePreviewOverlay {
  opacity: 0;
  pointer-events: none;
  width: 128px;
  height: 128px;
  position: fixed;
  top: 0;
  left: 0;
  border: solid 1px lightgrey;
  transform: translate(-140px, 20px);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 100;
  transition: transform 0.1s ease, opacity 0.3s ease;
}

#stylePreviewOverlay.lower-half {
  transform: translate(-140px, -140px);
}

.contain .tabs {
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab {
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab > div:first-child {
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab .style_selections {
  min-height: 200px;
  height: 100%;
}

.contain .tabs .tabitem.style_selections_tab .style_selections .wrap[data-testid="checkbox-group"] {
  position: absolute;
  overflow: auto;
  padding-right: 2px;
  max-height: 100%;
}

.contain .tabs .tabitem.style_selections_tab .style_selections .wrap[data-testid="checkbox-group"] label {
  flex: calc(50% - 5px) !important;
}

.contain .tabs .tabitem.style_selections_tab .style_selections .wrap[data-testid="checkbox-group"] label span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-tooltip {
  background-color: var(--color-background);
  font-family: monospace;
  text-align: center;
  border-radius: 5px 5px 0 0;
  display: none;
}

#inpaint_canvas .canvas-tooltip-info {
  top: 2px;
}

#inpaint_brush_color input[type=color] {
  background: none;
}
